@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>240-888-1774</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>240-888-1774</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Technical Support:</span>
        <span><a href="mailto:work@patrickhatton.com">work@patrickhatton.com</a></span>
    </p>
    <p>
        <span class="label">Administrative Support:</span>
        <span><a href="mailto:UCTAdmin@umuc.edu">UCTAdmin@umuc.edu</a></span>
    </p>
    <p>
        <span class="label">General Support:</span>
        <span><a href="mailto:UCTHelp@umuc.edu">UCTHelp@umuc.edu</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        3501 University Blvd. East<br />
        Adelphi, MD 20783
    </p>
</section>